doctype html
html
  head
    title 祝福墙 | 语言学午餐

    link(href="/stylesheets/font.css", rel="stylesheet", type="text/css")
    
    link(rel="stylesheet", href="/stylesheets/normalize.css")
    link(rel="stylesheet", href="/stylesheets/pure-min.css")
    link(rel="stylesheet", href="/stylesheets/grids-responsive-min.css")

    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/animate.css")

    link(rel="stylesheet", href="/stylesheets/style.css")

    script(src="/javascripts/socket.js")
    script(src="/javascripts/jquery-2.1.3.min.js")
    script(src="/javascripts/jquery.titlealert.min.js")
    script(src="/javascripts/client.js")

    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="语言学午餐两周年特别页面——祝福墙")
    meta(name="keywords", content="语言学午餐, BFSU Ling-Lunch, socket, node")

    meta(property="og:title", content="祝福墙 | 语言学午餐")
    meta(property="og:site_name", content="语言学午餐")
    meta(property="og:url", content="http://2years.linglunch.com")
    meta(property="og:image", content="http://2years.linglunch.com/")
    meta(property="og:description", content="语言学午餐两周年特别页面——祝福墙")

  body
    block content