html, body { 
    margin: 0px; 
    padding: 0px; 
    border: 0px; 
}

ul {
    list-style-type: none;
}

.clearfix {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: red;
}

.clearfix li {
    display: inline-block;
    width: 40%;
    padding: 0.3em;
    color: white;
}

.head-bar {
    background: #30393a;
    top: 0;
    height: 2rem;
}

.ll-base {
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    left: 0;
    margin: auto;
    padding: 0;
    position: fixed;
    right: 0;
    -webkit-transition: top .2s;
    transition: top .2s;
    z-index: 15;
}

.logo-zone {
    background: url(.harvard-logo.png) no-repeat;
    background-size: cover;
    color: transparent;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.navbar {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
}